/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black-2: #131118;
  --color-yellow: #ffb901;
  --line-color-light: rgba(255, 255, 255, 0.3);
  --line-color-dark: rgba(5, 23, 63, 0.1);
  --color-primary: #fedcaf;
  --color-primary-dark: #c99e67;
  --color-primary-dark-2: #373737;
  --color-primary-light: #eff8fd;
  --color-primary-light-2: #ededf5;
}

@font-face {
  font-family: "Hello Paris";
  src: url("../../css/fonts/HelloParisSerif-Medium.eot");
  src: local("Hello Paris Medium"), local("HelloParisSerif-Medium"), url("../../css/fonts/HelloParisSerif-Medium.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/HelloParisSerif-Medium.woff2") format("woff2"), url("../../css/fonts/HelloParisSerif-Medium.woff") format("woff"), url("../../css/fonts/HelloParisSerif-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Hello Paris";
  src: url("../../css/fonts/HelloParisSerif-Regular.eot");
  src: local("Hello Paris"), local("HelloParisSerif-Regular"), url("../../css/fonts/HelloParisSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/HelloParisSerif-Regular.woff2") format("woff2"), url("../../css/fonts/HelloParisSerif-Regular.woff") format("woff"), url("../../css/fonts/HelloParisSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Hello Paris Extra";
  src: url("../../css/fonts/HelloParisSerif-ExtraLight.eot");
  src: local("Hello Paris Extra Light"), local("HelloParisSerif-ExtraLight"), url("../../css/fonts/HelloParisSerif-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/HelloParisSerif-ExtraLight.woff2") format("woff2"), url("../../css/fonts/HelloParisSerif-ExtraLight.woff") format("woff"), url("../../css/fonts/HelloParisSerif-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Hello Paris";
  src: url("../../css/fonts/HelloParisSerif-Light.eot");
  src: local("Hello Paris Light"), local("HelloParisSerif-Light"), url("../../css/fonts/HelloParisSerif-Light.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/HelloParisSerif-Light.woff2") format("woff2"), url("../../css/fonts/HelloParisSerif-Light.woff") format("woff"), url("../../css/fonts/HelloParisSerif-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Hello Paris";
  src: url("../../css/fonts/HelloParisSerif-Bold.eot");
  src: local("Hello Paris Bold"), local("HelloParisSerif-Bold"), url("../../css/fonts/HelloParisSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/HelloParisSerif-Bold.woff2") format("woff2"), url("../../css/fonts/HelloParisSerif-Bold.woff") format("woff"), url("../../css/fonts/HelloParisSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Hello Paris Script";
  src: url("../../css/fonts/HelloParisScript.eot");
  src: local("Hello Paris Script"), local("HelloParisScript"), url("../../css/fonts/HelloParisScript.eot?#iefix") format("embedded-opentype"), url("../../css/fonts/HelloParisScript.woff2") format("woff2"), url("../../css/fonts/HelloParisScript.woff") format("woff"), url("../../css/fonts/HelloParisScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  color: inherit;
  font-weight: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s all;
  cursor: pointer;
  user-select: none;
}

:root {
  font-size: 20px;
}
@media (max-width: 1800.98px) {
  :root {
    font-size: 19px;
  }
}
@media (max-width: 1700.98px) {
  :root {
    font-size: 18px;
  }
}
@media (max-width: 1600.98px) {
  :root {
    font-size: 17px;
  }
}
@media (max-width: 1500.98px) {
  :root {
    font-size: 16px;
  }
}
@media (max-width: 1400.98px) {
  :root {
    font-size: 15px;
  }
}
@media (max-width: 1300.98px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 1200.98px) {
  :root {
    font-size: 13px;
  }
}
@media (max-width: 1100.98px) {
  :root {
    font-size: 12px;
  }
}
@media (max-width: 1000.98px) {
  :root {
    font-size: 11px;
  }
}
@media (max-width: 900.98px) {
  :root {
    font-size: 10px;
  }
}
@media (max-width: 389.98px) {
  :root {
    font-size: 15px;
  }
}
@media (max-width: 375.98px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 345.98px) {
  :root {
    font-size: 13px;
  }
}
@media (max-width: 330.98px) {
  :root {
    font-size: 12px;
  }
}
@media (max-width: 320.98px) {
  :root {
    font-size: 11px;
  }
}
@media (max-width: 300.98px) {
  :root {
    font-size: 10px;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  :root {
    font-size: 8.5px;
  }
}
@media (max-width: 700px) and (orientation: landscape) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 767.98px) and (max-width: 1080px) and (orientation: portrait) {
  :root {
    font-size: 17px;
  }
}
body {
  font-size: 0.9rem;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 76.5rem;
  padding: 0 2rem;
  width: 100%;
}
@media (max-width: 677px) {
  .container {
    padding: 0 1rem;
  }
}

.text_paris {
  font-family: "Hello Paris";
}

.section__title {
  font-family: "Hello Paris";
  color: var(--color-primary-dark);
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  .section__title {
    font-size: 3.5rem;
  }
}

.text_center {
  text-align: center;
}

.section__header {
  font-family: "Hello Paris";
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  .section__header {
    font-size: 4rem;
  }
}

.header__copy {
  background-color: var(--color-primary);
  padding: 1rem 0;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 23.4px */
}
@media (max-width: 422px) {
  .header__copy {
    padding: 0.5rem 0;
  }
}
.header__copy__text {
  font-size: 0.9rem;
  text-align: center;
  color: var(--color-primary-dark);
}
.header__copy__text span {
  font-weight: 600;
}
.header__navigation {
  background-color: var(--color-white);
  position: fixed;
  top: 3.5rem;
  left: 0;
  width: 100%;
  z-index: 11;
  height: 8.35rem;
  margin-top: 2rem;
  transition: 0.6s all;
}
.header__navigation .container {
  height: 100%;
}
@media (max-width: 768px) {
  .header__navigation {
    height: 8rem;
    padding: 0.5rem 0;
  }
}
.header__nav {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
}
.header__nav__list {
  display: flex;
  align-items: center;
  gap: 3rem;
  height: 100%;
}
@media (max-width: 768px) {
  .header__nav__list {
    display: none;
  }
}
.header__nav__list-item:last-child {
  margin-left: auto;
}
.header__nav__link i {
  font-size: 0.8rem;
  margin-left: 0.1rem;
}
.header__nav__link.active {
  color: var(--color-primary);
}
.header__logo {
  height: 100%;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.header__logo img {
  height: 100%;
}
.header__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.5rem;
  gap: 2rem;
}
@media (max-width: 768px) {
  .header__control {
    display: none;
  }
}
.header__control .icon {
  width: 1.5rem;
}
.header__control .icon img {
  width: 100%;
}
.header__control .btn_primary {
  padding: 0.9rem 1.5rem;
  font-weight: 400;
  font-size: 0.9rem;
}
.header.header-scrolled .header__navigation {
  margin-top: 0;
  top: 0;
  width: 100%;
  height: 4.5rem;
  padding: 0.5rem 0;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
}
.header__mobile {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
@media (max-width: 768px) {
  .header__mobile {
    display: flex;
  }
}
.header__mobile button {
  width: 2.5rem;
  aspect-ratio: 1/1;
  background-color: var(--color-primary-dark);
  border-radius: 50%;
}
.header__mobile button i {
  font-size: 1rem;
  color: var(--color-white);
}

.parrent:hover .submenu {
  visibility: visible;
  opacity: 1;
}
.parrent i {
  transition: all 0.3s;
}
.parrent:hover i {
  transform: rotate(180deg);
}
.parrent .submenu {
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  background-color: var(--color-primary);
  position: absolute;
}
.parrent .submenu li {
  padding: 0.75rem 1.5rem;
  transition: all 0.3s;
}
.parrent .submenu li:not(:last-child) {
  border-bottom: 1px solid var(--color-white);
}
.parrent .submenu li:hover {
  color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}

.parrent-footer .footer-submenu {
  display: none;
}
.parrent-footer .footer-submenu li {
  margin: 0.4rem 0;
}
.parrent-footer .btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.parrent-footer .btn i {
  transition: all 0.3s;
}
.parrent-footer .btn.active i {
  transform: rotate(180deg);
}

.footer__box {
  padding: 4rem 0 3.65rem 0;
  display: grid;
  grid-template-columns: 7.65rem 2fr 13rem;
  gap: 10rem;
  border-bottom: 1px solid var(--color-primary-dark);
}
@media (max-width: 768px) {
  .footer__box {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.footer__logo img {
  width: 100%;
}
@media (max-width: 768px) {
  .footer__logo {
    padding: 0 5rem;
  }
}
.footer__socials {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer__socials a {
  display: block;
  width: 1.7rem;
  aspect-ratio: 1/1;
}
.footer__socials a img {
  width: 100%;
}
.footer__socials-mobile {
  display: none;
}
.footer__nav__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.footer__btns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.1rem;
}
.footer__btns button {
  padding: 0.8rem;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
}
.footer__copy {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .footer__box {
    padding: 5.8rem 0 2rem 0;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .footer__socials {
    display: none;
  }
  .footer__socials-mobile {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
  }
  .footer__socials-mobile a {
    display: block;
    width: 2rem;
    aspect-ratio: 1/1;
  }
  .footer__socials-mobile a img {
    width: 100%;
  }
  .footer__copy {
    padding: 1rem 0;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    flex-direction: column;
  }
}
.btn_primary {
  color: var(--color-white);
  background-color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
}
.btn_primary:hover {
  background-color: transparent;
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
}
.btn_secondary {
  color: var(--color-primary-dark);
  background-color: transparent;
  border: 1px solid var(--color-primary-dark);
  transition: all 0.3s;
}
.btn_secondary:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}
.btn_white {
  background-color: var(--color-white);
  color: var(--color-primary-dark);
}

.carousel_head {
  height: 31.75rem;
}
@media (max-width: 677px) {
  .carousel_head {
    height: 25rem;
  }
}
.carousel_head .swiper-pagination-bullets {
  bottom: 1.5rem;
}
@media (max-width: 677px) {
  .carousel_head .swiper-pagination-bullets {
    bottom: 0.5rem;
  }
}
.carousel_head .swiper-pagination-bullet {
  transition: all 0.3s;
}
.carousel_head .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
  outline: 1px solid var(--color-primary);
  outline-offset: 2.5px;
}
.carousel_head .carousel__item {
  animation-duration: 2s;
}
.carousel_head .carousel__item__info {
  height: 100%;
  padding: 4.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: var(--color-white);
}
.carousel_head .carousel__item__title {
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.carousel_head .carousel__item__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.carousel_head .carousel__item__btns .btn {
  padding: 0.6rem 2rem;
  max-width: 10rem;
  width: 100%;
  font-size: 0.9rem;
}
@media (max-width: 1000px) {
  .carousel_head .carousel__item__btns .btn {
    max-width: 12rem;
  }
}
.carousel_head .carousel__item__bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
@media (max-width: 677px) {
  .carousel_head .carousel__item__info {
    padding: 2.4rem;
  }
  .carousel_head .carousel__item__title {
    font-size: 3rem;
  }
  .carousel_head .carousel__item__btns {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin-top: 0.1rem;
  }
  .carousel_head .carousel__item__btns .btn {
    padding: 0.6rem 2rem;
    max-width: none;
    width: 100%;
  }
}
.carousel_menu .carousel__item {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 72.48%, rgba(0, 0, 0, 0.75) 100%), url(<path-to-image>) lightgray 50%/cover no-repeat;
  height: 29.8rem;
  background-color: yellow;
}
.carousel_menu .carousel__item__info {
  padding: 2.05rem;
  height: 100%;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.carousel_menu .carousel__item__title {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 2px solid var(--color-primary-dark);
}
.carousel_menu .carousel__item__bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.carousel_testimonials {
  padding-bottom: 3.6rem;
}
.carousel_testimonials .carousel__item {
  transition: 0.6s all;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media (max-width: 768px) {
  .carousel_testimonials .carousel__item {
    padding: 1rem;
    gap: 1.5rem;
  }
}
.carousel_testimonials .carousel__item__text {
  padding-right: 5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem; /* 160% */
}
@media (max-width: 768px) {
  .carousel_testimonials .carousel__item__text {
    line-height: 1.4rem;
    padding-right: 2rem;
  }
}
.carousel_testimonials .carousel__item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel_testimonials .carousel__item__info img {
  height: 3rem;
}
.carousel_testimonials .carousel__item__info_left {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.carousel_testimonials .carousel__item__info_left h5 {
  font-weight: 600;
}
.carousel_testimonials .carousel__item__info_right {
  width: 2.2rem;
  aspect-ratio: 1/1;
}
.carousel_testimonials .carousel__item__info_stars {
  display: flex;
}
.carousel_testimonials .carousel__item__info_stars i {
  color: var(--color-yellow);
}
.carousel_testimonials .carousel__item:hover {
  background-color: var(--color-primary);
}
.carousel_testimonials .swiper-pagination-bullet {
  background-color: #eaeaea;
  opacity: 1;
}
.carousel_testimonials .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}
.carousel_menu_2 .carousel__item {
  height: 23.15rem;
}
.carousel__btns {
  margin: 2.5rem 0.7rem 0 0;
  display: flex;
  justify-content: flex-end;
  gap: 1.8rem;
}
.carousel__btn {
  width: 2.5rem;
  aspect-ratio: 1/1;
  transform: rotate(-45deg);
  border: 1px solid var(--color-primary-dark);
  transition: all 0.3s;
}
.carousel__btn i {
  color: var(--color-primary-dark);
  font-size: 0.8rem;
  transition: all 0.3s;
  transform: rotate(45deg);
}
.carousel__btn:hover {
  background-color: var(--color-primary-dark);
}
.carousel__btn:hover i {
  color: var(--color-white);
}
.carousel__item__bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.formed-box__wrapper {
  background-color: var(--color-white);
  padding: 2px;
  position: relative;
}
.formed-box__wrapper::before, .formed-box__wrapper::after {
  content: "";
  position: absolute;
  height: 10rem;
  aspect-ratio: 1/1;
  background-color: var(--color-primary-dark);
}
.formed-box__wrapper::before {
  top: 0;
  left: 0;
}
.formed-box__wrapper::after {
  bottom: 0;
  right: 0;
}

.formed-box {
  background-color: red;
  background-color: var(--color-primary);
  position: relative;
  z-index: 1;
  display: flex;
}
@media (max-width: 768px) {
  .formed-box {
    flex-direction: column;
  }
}
.formed-box__info {
  padding: 1.5rem 2rem 3rem 2rem;
  color: var(--color-black-2);
  width: 80%;
}
@media (max-width: 768px) {
  .formed-box__info {
    padding: 1rem;
    width: 100%;
  }
  .formed-box__info p {
    margin-top: 1rem;
  }
}
.formed-box__info h3 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.formed-box__info p {
  font-style: normal;
  font-weight: 400;
  line-height: 153%; /* 27.54px */
  margin-top: 1.9rem;
}
.formed-box__form {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .formed-box__form {
    margin-top: 1rem;
    flex-direction: column;
  }
  .formed-box__form input {
    width: 100%;
    max-width: 100%;
  }
}
.formed-box__form input {
  padding: 1rem 0;
  font-size: 0.9rem;
  width: 100%;
  max-width: 15rem;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-primary-dark);
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 19.8px */
}
@media (max-width: 768px) {
  .formed-box__form input {
    max-width: 100%;
  }
}
.formed-box__form input::placeholder {
  color: var(--color-primary-dark);
}
.formed-box__form input[type=number]::-webkit-outer-spin-button, .formed-box__form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.formed-box__form input:focus {
  border-color: var(--color-primary-dark-2);
}
.formed-box__form button {
  padding: 0.85rem 1.4rem;
  font-size: 0.9rem;
}
@media (max-width: 768px) {
  .formed-box__form button {
    margin-top: 1rem;
  }
}
.formed-box__img {
  position: relative;
  width: 26rem;
}
@media (max-width: 768px) {
  .formed-box__img {
    width: 100%;
    height: fit-content;
    text-align: center;
    padding-bottom: 1rem;
  }
  .formed-box__img img {
    width: 100%;
  }
}
.formed-box__img img {
  position: absolute;
  width: 145%;
  left: 50%;
  transform: translateX(-56%);
  bottom: 0;
}
@media (max-width: 768px) {
  .formed-box__img img {
    position: static;
    width: 80%;
    margin: 0 auto;
    transform: translate(0);
  }
}
.formed-box__img.formed-2 img {
  width: 120%;
  bottom: 15%;
  transform: translateX(-58%);
}
@media (max-width: 768px) {
  .formed-box__img.formed-2 img {
    position: static;
    width: 80%;
    margin: 0 auto;
    transform: translate(0);
  }
}
.formed-box__img.formed-catalog {
  padding: 0;
}
.formed-box__img.formed-catalog img {
  height: auto;
  width: 110%;
  bottom: 0;
  transform: translateX(-55%);
}
@media (max-width: 768px) {
  .formed-box__img.formed-catalog img {
    position: static;
    width: 80%;
    margin: 0 auto;
    transform: translate(0);
  }
  .formed-box__img.formed-catalog img:first-child {
    transform: translateY(1.5rem);
  }
}

.selecteds {
  position: relative;
  display: flex;
  align-items: center;
}
.selecteds__box {
  visibility: hidden;
  transition: all 0.3s;
  opacity: 0;
  background-color: var(--color-primary);
  border: 1px solid var(--color-white);
  position: absolute;
  padding: 1.5rem;
  width: 20rem;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -1rem);
  z-index: 1;
}
.selecteds__box.active {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
}
.selecteds__box .btn_white {
  display: block;
  text-align: center;
  width: 100%;
  padding: 0.9rem 0;
  margin-top: 1.1rem;
}
.selecteds__box::before {
  content: "";
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  height: 1rem;
  aspect-ratio: 1/1;
  background-color: var(--color-primary);
  z-index: -5;
}
.selecteds__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.selecteds__list-item {
  width: 100%;
  border-bottom: 1px solid var(--color-white);
  display: flex;
  gap: 1rem;
  padding-bottom: 0.6rem;
}
.selecteds__list-item:not(:first-child) {
  padding-top: 0.6rem;
}
.selecteds__list-item img {
  height: 5.5rem;
  width: 6.7rem;
  object-fit: cover;
}
.selecteds__list-item__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.selecteds__list-item__info h4 {
  font-size: 1rem;
}
.selecteds__list-item__info p {
  font-size: 0.7rem;
  text-align: left;
}
.selecteds__list-item .remove-btn {
  color: var(--color-primary-dark);
  font-size: 0.5rem;
  height: 1.4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
}

.back-line {
  position: relative;
  z-index: 1;
}
.back-line::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: calc(100% + 6.5rem);
  height: 100%;
  top: -3.05rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid var(--color-primary-dark);
}
@media (max-width: 800px) {
  .back-line::before {
    width: 98vw;
  }
}
@media (max-width: 768px) {
  .back-line::before {
    width: calc(100% + 2rem);
    transform: translate(-50%, 10%);
  }
}
@media (max-width: 678px) {
  .back-line::before {
    width: 100%;
  }
}

.cards {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
.cards__item {
  height: 30rem;
}
.cards__item__img {
  width: 100%;
  height: 16.85rem;
  overflow: hidden;
}
.cards__item__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: 0.6s all;
}
.cards__item:hover .cards__item__img img {
  transform: scale(1.05);
}
.cards__item__info {
  border: 1px solid var(--color-primary-dark);
  padding: 1.5rem;
}
.cards__item__info h3 {
  font-family: "Hello Paris";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-primary-dark);
}
.cards__item__info p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem; /* 160% */
  margin: 1rem 0 1.6rem 0;
}
.cards__item__btn {
  display: block;
  text-align: center;
  width: 100%;
  padding: 0.9rem 0;
  font-weight: 500;
}

@media (max-width: 768px) {
  .cards {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  .cards__item__info {
    padding: 1.2rem;
  }
}
@media (max-width: 680px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
.news-card {
  height: 22.9rem;
  padding: 2.3rem 2.3rem 0.9rem 2.3rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
}
.news-card__bg {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 16.85rem;
  object-fit: cover;
  transition: all 0.3s;
}
.news-card__info {
  background-color: var(--color-white);
  width: 100%;
  padding: 0.9rem 1.13rem 0.35rem 1.13rem;
  transition: all 0.3s;
  z-index: 2;
  outline: 1px solid var(--color-primary-dark);
  outline-offset: 0.8rem;
}
.news-card__info p {
  margin: 0.5rem 0 1.25rem 0;
}
.news-card__title {
  color: var(--color-primary-dark);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.news-card_link {
  color: var(--color-primary-dark);
}
.news-card_link a {
  transition: all 0.3s;
  margin-left: 0.6rem;
  opacity: 0;
}
.news-card:hover .news-card__info {
  padding: 1.5rem 1.13rem;
}
.news-card:hover .news-card_link a {
  opacity: 1;
}

.orders__form h3 {
  color: var(--color-primary-dark-2);
  font-family: "Hello Paris";
  font-size: 2.5rem;
  font-weight: 400;
}
.orders__form p {
  line-height: 153%;
  margin: 1.1rem 0;
}
.orders__form input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-black);
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem 0.2rem;
  transition: 0.6s all;
}
.orders__form input::placeholder {
  transition: 0.6s all;
}
.orders__form input::-webkit-outer-spin-button, .orders__form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.orders__form input:focus {
  color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}
.orders__form input:focus::placeholder {
  color: var(--color-primary-dark);
}
.orders__form button {
  width: 100%;
  padding: 0.9rem 0;
  text-align: center;
  margin-top: 2.9rem;
}

.feedback {
  background-color: rgba(92, 73, 49, 0.5960784314);
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s all;
}
.feedback.active {
  visibility: visible;
  opacity: 1;
}
.feedback__content {
  background-color: var(--color-white);
  transition: 0.6s all;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 23.7rem;
}
.feedback__content h2 {
  color: var(--color-primary-dark);
  font-family: "Hello Paris";
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
  text-align: center;
}
.feedback__content p {
  text-align: center;
  color: #424242;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 150%;
}
.feedback__content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.65rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-color: var(--color-primary-dark);
}
.feedback__close {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2.5rem;
  aspect-ratio: 1/1;
  background-color: var(--color-white);
  top: -3rem;
  border-radius: 50%;
}
.feedback__close i {
  font-size: 1.5rem;
  color: var(--color-primary-dark);
}
.feedback__wrap {
  padding: 2.1rem;
  flex-direction: column;
  align-items: center;
}
.feedback__form {
  margin-top: 3.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.feedback__form input {
  padding: 1.25rem;
  text-align: center;
  width: 100%;
  color: #1a3e44;
  background-color: transparent;
  border: 1px solid rgba(17, 17, 17, 0.15);
  font-size: 0.8rem;
  outline: none;
  transition: all 0.3s;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  text-transform: capitalize;
}
.feedback__form input:not(.feedback__form input:last-child) {
  margin-bottom: 0.8rem;
}
.feedback__form input::-webkit-outer-spin-button, .feedback__form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.feedback__form input:focus {
  border-color: var(--color-primary-dark);
}
.feedback__form .btn_primary {
  padding: 1.25rem;
  margin: 0.4rem 0 0.8rem 0;
  width: 100%;
}
.feedback__done {
  display: none;
  padding: 2.5rem 5.5rem;
}
.feedback__done-checked {
  position: relative;
  width: 12.7rem;
  height: 9.4rem;
  background-color: #f6f6f6;
  border-radius: 1.5rem;
  margin: 2.5rem auto 3rem auto;
}
.feedback__done-checked i {
  color: var(--color-primary-dark);
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .feedback {
    background-color: rgba(92, 73, 49, 0.5960784314);
    backdrop-filter: blur(5px);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    transition: 0.6s all;
  }
  .feedback.active {
    visibility: visible;
    opacity: 1;
  }
  .feedback__content {
    border-radius: 2rem 2rem 0 0;
    transition: 0.6s all;
    display: block;
    top: 100%;
    transform: translate(-50%, -100%);
    width: 100%;
    height: 65%;
  }
  .feedback__content h2 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1.4rem;
    text-align: center;
  }
  .feedback__content p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
  }
  .feedback__content::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.65rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: var(--color-primary-dark);
  }
  .feedback__wrap {
    padding: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .feedback__form {
    margin-top: 3.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .feedback__form input {
    padding: 1.3rem;
    text-align: center;
    width: 100%;
    color: #1a3e44;
    background-color: transparent;
    border: 1px solid rgba(17, 17, 17, 0.15);
    font-size: 0.8rem;
    outline: none;
    transition: all 0.3s;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    text-transform: capitalize;
  }
  .feedback__form input:not(.feedback__form input:last-child) {
    margin-bottom: 0.8rem;
  }
  .feedback__form input::-webkit-outer-spin-button, .feedback__form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .feedback__form input:focus {
    border-color: var(--color-primary-dark);
  }
  .feedback__form .btn_primary {
    padding: 1.25rem;
    margin: 0.4rem 0 0.8rem 0;
    width: 100%;
  }
  .feedback__done {
    display: none;
    padding: 3rem 3rem;
  }
  .feedback__done-checked {
    position: relative;
    width: 12.7rem;
    height: 9.4rem;
    background-color: #f6f6f6;
    border-radius: 1.5rem;
    margin: 3rem auto 3rem auto;
  }
  .feedback__done-checked i {
    color: var(--color-primary-dark);
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  z-index: 40;
}
.preloader__logo {
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preloader__logo img {
  width: 100%;
  animation: preloaderLogo 1.6s linear forwards;
}
@keyframes preloaderLogo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}

.mobile-menu {
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 60;
  background-color: rgba(0, 0, 0, 0.329);
  backdrop-filter: blur(10px);
  visibility: hidden;
  transition: all 0.3s;
}
.mobile-menu.active {
  visibility: visible;
}
@media (min-width: 769px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu__box {
  background-color: var(--color-white);
  height: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  display: none;
}
.mobile-menu__content {
  height: 100%;
  overflow-y: scroll;
  padding: 8.3rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.mobile-menu__controls {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
}
.mobile-menu__bars {
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5rem;
  display: none;
}
.mobile-menu__search-bar {
  border: 1px solid var(--color-primary-dark);
  display: grid;
  grid-template-columns: 80% 1fr;
}
.mobile-menu__search-bar input {
  padding: 0.8rem;
  border: none;
  outline: none;
}
.mobile-menu__search-bar button {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}
.mobile-menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
.mobile-menu__list-item {
  width: 100%;
  text-align: center;
}
.mobile-menu__list-item.parrent {
  height: fit-content;
}
.mobile-menu__list-item .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 0.5rem;
}
.mobile-menu__list-item .btn i {
  font-size: 1.1rem;
  margin-left: 0.5rem;
  transition: all 0.3s;
}
.mobile-menu__list-item .btn.active i {
  transform: rotate(90deg);
}
.mobile-menu__link {
  font-size: 1.3rem;
}
.mobile-menu__brand {
  width: 100%;
  padding: 1.5rem 0 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.mobile-menu__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}
.mobile-menu__close {
  position: absolute;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
  background-color: var(--color-white);
  border-radius: 50%;
}
.mobile-menu__close i {
  font-size: 1.5rem;
  color: var(--color-primary-dark);
}

.mobile-submenu {
  width: 100%;
  display: none;
  padding: 0.5rem;
}
.mobile-submenu a {
  font-size: 1.1rem;
  display: block;
  padding: 0.5rem;
  color: #434343;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.search__bar__wrapper {
  position: absolute;
  top: 120%;
  right: 0;
  display: none;
  border: 1px solid var(--color-primary-dark);
  z-index: 10;
}
.search__bar {
  width: fit-content;
  display: flex;
}
.search__bar input {
  padding: 0.4rem 0.4rem;
  outline: none;
  border: none;
}
.search__bar button {
  padding: 0.4rem 1rem;
  color: var(--color-white);
  background-color: var(--color-primary-dark);
}

.head {
  margin-top: 13.5rem;
}
@media (max-width: 768px) {
  .head {
    margin-top: 11rem;
  }
  .head__box {
    padding: 0 0.6rem;
  }
}
.head__box {
  position: relative;
}
.head__box::before {
  content: "";
  position: absolute;
  width: calc(100% + 6.5rem);
  height: calc(100% - 2.95rem);
  top: -3.05rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid var(--color-primary-dark);
}
@media (max-width: 795px) {
  .head__box::before {
    width: calc(100% + 2rem);
    top: -1rem;
  }
}
@media (max-width: 768px) {
  .head__box::before {
    width: calc(100% + 0.6rem);
    top: -1rem;
  }
}
.head.about .head__box {
  height: 18.45rem;
  background-image: url("../../img/pictures/about-head-img.png");
}

.section-2 {
  background-color: var(--color-primary);
  padding: 18.75rem 0 5.5rem 0;
  margin-top: -10.1rem;
  overflow-x: hidden;
}

.projects {
  position: relative;
  overflow: hidden;
  background-color: var(--color-primary);
}
.projects .container {
  padding: 0 23rem;
}
@media (max-width: 768px) {
  .projects .container {
    padding: 0 1rem;
  }
}
.projects__box {
  display: flex;
  padding: 10.5rem 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding-right: 2rem;
}
@media (max-width: 768px) {
  .projects__box {
    padding: 1rem 0;
  }
}
.projects__box button {
  padding: 0.85rem 1.5rem;
}
.projects__img {
  width: 100%;
  position: absolute;
  height: 30rem;
  display: flex;
}
@media (max-width: 768px) {
  .projects__img {
    position: static;
    height: 24rem;
  }
}
.projects__img img {
  max-height: 100%;
}
.projects__img:first-child {
  top: 0;
}
.projects__img:last-child {
  justify-content: flex-end;
  bottom: 0;
}
.projects__img:last-child img {
  right: 0;
}

.section-4 {
  background-color: var(--color-primary);
  padding: 6.3rem 0 4.45rem 0;
}

.menu {
  padding: 6.25rem 0;
}
.menu__subtitle__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.2rem;
}
.menu__subtitle__box button {
  padding: 0.85rem 2.35rem;
}
@media (max-width: 768px) {
  .menu__subtitle__box {
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
  }
}
.menu__carousel {
  margin-top: 3.5rem;
}

.features {
  padding: 6.55rem 0;
  background-color: var(--color-primary);
  overflow: hidden;
}
.features__box {
  display: flex;
  gap: 2.5rem;
}
@media (max-width: 768px) {
  .features__box {
    flex-direction: column;
    gap: 2.4rem;
  }
}
.features__left {
  padding-top: 3rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 768px) {
  .features__left {
    width: 100%;
  }
  .features__left h2 {
    font-size: 2.5rem;
  }
}
.features__left p {
  margin: 3.3rem 0 2rem 0;
}
.features__left button {
  padding: 0.85rem 4rem;
}
.features__left .img-box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .features__left .img-box {
    display: none;
  }
}
.features__left .img-box img {
  transform: translateY(2rem);
  max-width: 50%;
}
.features__right {
  position: relative;
  aspect-ratio: 1/1;
}
@media (max-width: 768px) {
  .features__right {
    height: 24rem;
  }
  .features__right img {
    height: 100%;
    position: absolute;
    right: -5rem;
  }
}
.features__right img {
  max-width: 100%;
  object-fit: cover;
}
.features__bottom {
  display: none;
  position: relative;
  height: 15.8rem;
}
.features__bottom img {
  position: absolute;
  left: -5rem;
  height: 100%;
}
@media (max-width: 768px) {
  .features__bottom {
    display: flex;
  }
}

.news {
  background-color: var(--color-primary);
  padding-bottom: 2.6rem;
}
.news__carousel {
  margin-top: 3.5rem;
}

.testimonials {
  padding-top: 6.35rem;
}
.testimonials__carousel {
  margin-top: 3.5rem;
}
.testimonials__carousel .carousel__btns {
  margin-top: 0;
}
@media (max-width: 768px) {
  .testimonials {
    padding-top: 4rem;
  }
  .testimonials__carousel {
    margin-top: 3rem;
  }
}

.partners {
  padding: 3rem 0;
}
.partners__box {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .partners__box {
    grid-template-columns: 1fr 1fr;
  }
}
.partners__box a {
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
  position: relative;
  transition: 0.3s;
  height: 9.5rem;
  display: block;
}
@media (max-width: 768px) {
  .partners__box a {
    height: 6.5rem;
  }
}
.partners__box a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30%;
}
.partners__box a:hover {
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1);
}

.faq {
  padding-top: 3rem;
  overflow: hidden;
}
.faq__box {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .faq__box {
    grid-template-columns: 1fr;
  }
  .faq__box .faq__img {
    grid-row: 1/span 1;
  }
  .faq__box .faq__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.faq__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.faq-item {
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
  color: var(--color-primary-dark-2);
}
.faq-item__question {
  padding: 1.35rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s;
  margin-bottom: 0;
}
.faq-item__question i {
  transition: all 0.4s;
  color: var(--color-primary-dark);
}
.faq-item__answer {
  transition: background-color 0.4s;
  background-color: var(--color-primary);
  padding: 1.35rem 1.5rem;
  display: none;
}
.faq-item.active {
  box-shadow: none;
}
.faq-item.active .faq-item__question {
  margin-bottom: 1.35rem;
  background-color: var(--color-primary);
}
.faq-item.active .faq-item__question i {
  transform: rotate(180deg);
}
.faq__img {
  position: relative;
  height: 25rem;
  width: 100%;
}
.faq__img img {
  max-height: 100%;
}

.catalog {
  padding-top: 9.65rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .catalog {
    padding-top: 5rem;
  }
}

.contact {
  margin-top: 11.2rem;
  background-color: var(--color-primary);
}
@media (max-width: 768px) {
  .contact {
    margin-top: 8rem;
  }
}
.contact__box {
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 3.8rem;
}
@media (max-width: 768px) {
  .contact__box {
    gap: 2rem;
    grid-template-columns: 1fr;
    padding-bottom: 2rem;
  }
}
.contact__img {
  transform: translateY(-3.6rem);
  position: relative;
}
@media (max-width: 768px) {
  .contact__img {
    padding: 0 0.6rem;
  }
}
.contact__img::after {
  content: "";
  width: 100%;
  height: 13.45rem;
  position: absolute;
  border: 1px solid var(--color-primary-dark);
  bottom: -1.25rem;
  right: -1.25rem;
  z-index: -1;
}
@media (max-width: 768px) {
  .contact__img::after {
    right: 0;
  }
}
.contact__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__info h2 {
  color: var(--color-primary-dark);
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.5rem;
}
.contact__info p {
  margin-top: 1.5rem;
  color: var(--color-primary-dark-2);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem; /* 140% */
}
.contact__info hr {
  margin-top: 1.5rem;
  height: 1px;
  border: none;
  background-color: var(--color-primary-dark);
}

.history {
  background-color: var(--color-primary);
  padding: 10.2rem 0 6.1rem 0;
  margin-top: -7.7rem;
}
.history__box {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
  text-transform: lowercase;
  margin: 3rem 0;
}
.history__box > div {
  width: 50%;
}
.history__box_wide {
  grid-template-columns: 100%;
}
.history__box_wide .info {
  text-align: center;
  padding: 0 10rem;
  margin-top: 4rem;
}
.history__left.info {
  padding-right: 5rem;
}
.history__right.info {
  padding-left: 5rem;
}
.history__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.history__paragraph {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem; /* 160% */
  margin-top: 2.5rem;
}

.menu-items {
  margin-top: 5rem;
}

@media (max-width: 768px) {
  .history {
    padding: 8rem 0 2rem 0;
    margin-top: -7.7rem;
    overflow: hidden;
  }
  .history__box {
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem 0;
  }
  .history__box > div {
    width: 100%;
  }
  .history__box_wide {
    grid-template-columns: 100%;
  }
  .history__box_wide .history__img {
    height: 24rem;
    position: relative;
  }
  .history__box_wide .history__img img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }
  .history__box_wide .info {
    padding: 0;
    margin-top: 3rem;
  }
  .history__left.history__img {
    left: -5rem;
  }
  .history__left.info {
    padding: 0;
  }
  .history__right.history__img {
    right: -5rem;
  }
  .history__right.info {
    padding: 0;
  }
  .history__img {
    height: 24rem;
    position: relative;
  }
  .history__img img {
    position: absolute;
  }
  .history__paragraph {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem; /* 160% */
    margin-top: 2.5rem;
  }
  .menu-items {
    margin-top: 3rem;
  }
}
.meals {
  background-color: var(--color-primary);
  padding: 10.2rem 0 6.1rem 0;
  margin-top: -7.7rem;
  overflow: hidden;
}
.meals__box {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
  text-transform: lowercase;
  margin: 3rem 0;
}
.meals__box > div {
  width: 50%;
}
.meals__box .btn_primary {
  padding: 0.9rem 1.5rem;
}
.meals__box_wide {
  grid-template-columns: 100%;
}
.meals__box_wide .info {
  text-align: center;
  padding: 0 10rem;
  margin-top: 4rem;
}
.meals__left.info {
  padding-right: 1.5rem;
}
.meals__right.info {
  padding-left: 1.5rem;
}
.meals__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.meals__paragraph {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem; /* 160% */
  margin: 2.5rem 0;
}

.meal-cards {
  background-color: var(--color-primary);
  padding: 11.7rem 0 3.8rem 0;
  margin-top: -7.7rem;
}
.meal-cards__right-text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem; /* 160% */
  width: 31rem;
  margin-left: auto;
}

.menu-item {
  padding-top: 11.7rem;
}
.menu-item__box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}
.menu-item__img {
  width: 32.5rem;
  height: 28.35rem;
}
.menu-item__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.menu-item__info {
  width: 50%;
}
.menu-item__info h3 {
  font-family: "Hello Paris";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-primary-dark);
}
.menu-item__info p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin: 1.6rem 0;
  line-height: 1.6rem; /* 160% */
}
.menu-item__info h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem; /* 160% */
}
.menu-item__info button {
  padding: 0.9rem 4rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .meals {
    background-color: var(--color-primary);
    padding: 8rem 0 3rem 0;
    margin-top: -7.7rem;
  }
  .meals__box {
    margin: 2rem 0;
    flex-direction: column;
  }
  .meals__box:nth-child(1), .meals__box:nth-child(3) {
    flex-direction: column-reverse;
  }
  .meals__box > div {
    width: 100%;
  }
  .meals__left.meals__img img {
    right: -5rem;
  }
  .meals__left.info {
    padding: 0;
  }
  .meals__right.meals__img img {
    left: -5rem;
  }
  .meals__right.info {
    padding: 0;
  }
  .meals__img {
    position: relative;
    height: 24rem;
  }
  .meals__img img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    position: absolute;
  }
  .meals__paragraph {
    margin: 2rem 0;
  }
  .meal-cards {
    padding: 10rem 0 3.26rem 0;
  }
  .meal-cards__right-text {
    width: 100%;
    margin: 0;
  }
  .menu-item {
    padding-top: 11.7rem;
  }
  .menu-item__box {
    gap: 2rem;
    flex-direction: column;
  }
  .menu-item__img {
    width: 100%;
    height: 25rem;
  }
  .menu-item__info {
    width: 100%;
  }
  .menu-item__info button {
    margin-top: 1.5rem;
    width: 100%;
  }
}
.page-head {
  margin-top: 13.5rem;
}
.page-head__box {
  height: 18.45rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding: 2.5rem;
  color: var(--color-white);
}
.page-head__bg {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: -1;
}
@media (max-width: 678px) {
  .page-head__bg {
    padding: 0 0.5rem;
  }
}

@media (max-width: 768px) {
  .page-head {
    margin-top: 11rem;
  }
  .page-head__box {
    padding: 1.5rem;
  }
}
.news-cards {
  background-color: var(--color-primary);
  padding: 11.7rem 0 3.8rem 0;
  margin-top: -7.7rem;
}

@media (max-width: 768px) {
  .news-cards {
    padding: 10rem 0 3rem 0;
    margin-top: -7.7rem;
  }
}
.contacts {
  margin-top: 13.5rem;
}
.contacts__box {
  display: flex;
  justify-content: space-between;
}
.contacts__box > div {
  width: 50%;
}
.contacts__map iframe {
  max-width: 100%;
  height: 100%;
}
.contacts__info {
  padding-left: 6.5rem;
}
.contacts__info hr {
  height: 1px;
  border: none;
  background-color: var(--color-primary-dark);
  margin-bottom: 1.5rem;
}
.contacts__title {
  color: var(--color-primary-dark);
  font-size: 3.5rem;
  font-weight: 400;
}
.contacts__subtitle {
  color: var(--color-primary-dark);
  font-size: 1.4rem;
  line-height: 1.4rem; /* 100% */
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.contacts__text {
  color: var(--color-primary-dark-2);
  font-size: 1rem;
  line-height: 1.4rem; /* 140% */
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .contacts {
    margin-top: 10rem;
  }
  .contacts__box {
    flex-direction: column;
    gap: 3rem;
  }
  .contacts__box > div {
    width: 100%;
  }
  .contacts__map {
    height: 40rem;
  }
  .contacts__info {
    padding: 0;
  }
}
.orders {
  margin-top: 12rem;
}
.orders__box {
  display: flex;
  gap: 6rem;
}
.orders__items {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.orders__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.orders__item-img {
  max-width: 18rem;
  height: 15.85rem;
  width: 50%;
}
.orders__item-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.orders__item-info {
  width: 50%;
}
.orders__item-info h4 {
  font-size: 1.6rem;
  font-weight: 400;
}
.orders__item-info p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem; /* 160% */
}
.orders__item button {
  position: absolute;
  right: 0;
  top: 0;
  height: 2.7rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--color-primary-dark);
  border-radius: 50%;
}
.orders__item button i {
  color: var(--color-primary-dark);
  font-size: 1rem;
}
.orders__form {
  width: 40%;
  height: fit-content;
  padding: 1.5rem;
  border: 1px solid var(--color-primary-dark);
}

@media (max-width: 768px) {
  .orders {
    margin-top: 12rem;
  }
  .orders__box {
    display: flex;
    gap: 3rem;
    flex-direction: column;
  }
  .orders__items {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }
  .orders__item {
    background-color: var(--color-primary);
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
  .orders__item-img {
    background-color: yellow;
    max-width: none;
    width: 100%;
  }
  .orders__item-info {
    width: 100%;
    padding: 2rem;
  }
  .orders__item button {
    right: 0.5rem;
    top: 0.5rem;
    height: 2rem;
  }
  .orders__form {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
