// COLORS
:root {
  --color-white: #fff; //
  --color-black: #000; //
  --color-black-2: #131118; //

  --color-yellow: #ffb901; //

  --line-color-light: rgba(255, 255, 255, 0.3);
  --line-color-dark: rgba(5, 23, 63, 0.1);

  --color-primary: #fedcaf; //
  --color-primary-dark: #c99e67; //
  --color-primary-dark-2: #373737; //
  --color-primary-light: #eff8fd; //
  --color-primary-light-2: #ededf5; //
}
