.text_paris {
  font-family: "Hello Paris";
}

.section__title {
  font-family: "Hello Paris";
  color: var(--color-primary-dark);
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (max-width: 768px) {
    font-size: 3.5rem;
  }
}

.text_center {
  text-align: center;
}

.section__header {
  font-family: "Hello Paris";
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
